* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #202124;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: #FFFFFF;
  font-size: 15px;
}

.header a:hover {
  text-decoration: underline;
}

.header__right {
  display: flex;
  margin-left: auto;
  min-width: 13vw;
  justify-content: space-between;
  color: #FFFFFF;
}

.header__right .header__apps {
  margin-right: 10px;
}

.mainBody {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

.mainBody img {
  object-fit: contain;
  height: 100px;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

input {
  background-color: #202124;
  caret-color: white;
  color: #FFFFFF;
}

.sesion {
  background-color: #A6C6FA;
  border: 1px solid transparent;
  text-align: center;

  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.search__input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search__input .material-icons {
  color: gray;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #303134;
  outline: none;
  border: none;
  cursor: pointer;
}

.texto {
  color: #FFFFFF;
}

.abajo {
  background-color: #171717;
  width: 100%;
  height: 50px;
  position: absolute;
  align-items: center;
  bottom: 0;
  border-top: 1px solid #dfe1e5;
  display: grid;
  grid-template-columns: 1fr 1fr;
}