body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #202124;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

main img {
  object-fit: contain;
  height: 100px;
}

button:hover {
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: #FFFFFF;
  font-size: 15px;
}

.header a:hover {
  text-decoration: underline;
}

.header__right {
  display: flex;
  margin-left: auto;
  min-width: 13vw;
  justify-content: space-between;
  color: #FFFFFF;
}

.header__right .header__apps {
  margin-right: 10px;
}

.sesion {
  background-color: #A6C6FA;
  border: 1px solid transparent;
  text-align: center;

  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.search {
  align-items: center;
}

#logo{
  width: 100%;
  height: 20%;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

#input-search {
  background-color: #202124;
  caret-color: white;
  color: #FFFFFF;
}

.search__input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search__input .material-icons {
  color: gray;
}

.btn-search {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-search button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #303134;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-search button:hover {
  background-color: #202124;
}

#search {
  color: #FFFFFF;
}

#lucky {
  color: #FFFFFF;
}

#footer-link {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  color: #999DA2;
  background-color: #171717;
  font-size: 13px;
  font-family: arial, sans-serif;
  line-height: 40px;
}

.footer-izq {
  padding-left: 27px;
  float: left;
}

.footer-der {
  padding-right: 27px;
  float: right;
}

.hover-footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}